<%-include('../partials/header')%>
	<link rel="stylesheet" href="/stylesheets/new.css">
</head>
<body>
	<div class="container">  
		<form id="contact" action="/saamaan" method="POST">
		  <h3>Add New Product</h3>
		  <h4>The magic of Product</h4>
		  <fieldset>
			<input placeholder="Your Product Name" type="text" tabindex="1" required autofocus name="name">
		  </fieldset>
		  <fieldset>
			<input placeholder="Your Product Image Link" type="text" tabindex="2" required name="img">
		  </fieldset>
		  <fieldset>
			<input placeholder="Add Description of your Product" type="text" tabindex="3" required name="desc">
		  </fieldset>
		  <fieldset>
			<textarea placeholder="Enter Price of your Product" tabindex="4" required name=""></textarea>
		  </fieldset>
		  <fieldset>
			<button name="submit" type="submit" id="contact-submit" >Submit</button>
		  </fieldset>
		</form>
	  </div>
</body>
</html>